{% extends 'base.html.twig ' %}
{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container mt-5">
    {% for message in app.flashes('succes') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="offset-4 col-4 mt-4 divPageLogin" align="center">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                <label for="inputEmail">Email/pseudo</label>
                <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control my-3 border border-primary"
                       autocomplete="email" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control my-3 border border-primary"
                       autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">

                <div class="checkbox mt-3 ">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>

                <button class="btn btn-lg btn-primary mt-3" type="submit">
                   Se Connecter
                </button>
            </form>
            <div class="mt-4">
                <a class="text-danger" href="{{ path('app_profil_verify_mail') }}">
                    mot de passe oublié
                </a>
            </div>

        </div>

    </div>
</div>
        {% endblock %}
