{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
<div class="container rounded bg-white ">
    <div class="row">
        <div class="col-md-3 border-right">

        </div>
    <div class="container rounded bg-white mb-5 mt-4">
        <div class="text-center">
            <h1>Modifier les informations de {{ participants.pseudo }}</h1>
        </div>

        <div class="row">

            <div class="col-md-3">
                {% if participants.images is empty %}
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgAJ2AL2BUJeYp3pvkvvWUg0bP1EkoyVqjog&usqp=CAU" class="rounded-circle mt-5" alt="Photo de profil" >
                    </div>
                {% else %}
                    <div class="d-flex flex-column align-items-center text-center px-5 py-5">
                        <img src="{{ asset('/uploads/'~participants.images.name) }}" class="rounded-circle mt-5" alt="Photo de profil" width="150px" height="150px">
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6 border-right">
                <div class="p-3 py-5">
                    {% if (is_granted('ROLE_ADMIN')) %}
                        <h2 class="text-center">MODE ADMIN</h2>
                    {% endif %}
                    {% if (is_granted('ROLE_ADMIN')) == false %}
                    <div class="row mt-2">

                        <div class="col-md-6">
                            <label class="labels">Nom</label>
                            <input disabled class="form-control border border-primary my-2"
                                   value="{{ participants.nom }}">
                        </div>

                        <div class="col-md-6">
                            <label class="labels">Prenom</label>
                            <input disabled class="form-control border border-primary my-2"
                                   value="{{ participants.prenom }}">
                        </div>

                    </div>
                    {% endif %}

                    {{ form_start(modifyUserForm) }}
                    {% if (is_granted('ROLE_ADMIN')) %}
                        {{ form_row(modifyUserForm.nom) }}
                        {{ form_row(modifyUserForm.prenom) }}
                    {% endif %}
                    {{ form_row(modifyUserForm.pseudo) }}
                    {{ form_row(modifyUserForm.email) }}
                    {{ form_row(modifyUserForm.tel) }}
                    {{ form_row(modifyUserForm.images) }}
                    {% if(is_granted('ROLE_ADMIN')) %}
                        {{ form_row(modifyUserForm.site) }}
                            <div class="form-check form-switch">
                              {{ form_widget(modifyUserForm.actif) }}
                            </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-6 mt-4 text-center">
                            {{ form_widget(modifyUserForm.Valider) }}
                            <a href="{{ path('app_profil_id', {id:participants.id }) }} ">
                                <button type="button" class="btn btn-primary mx-3">Retour</button>
                            </a>
                        </div>
                        <div class="col-6 mt-4 text-center">
                            <a href="{{ path('app_profil_modify_password')}}">
                                <button type="button" class="btn btn-danger mx-3">Modifier le Mot de passe</button>
                            </a>
                        </div>

                    </div>

                    {{ form_end(modifyUserForm) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}