{% extends 'base.html.twig' %}

{% block title %}Ajouter une sortie{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row-cols-4 mt-4">

        </div>
        <div class="row">
            <h1>Créer une sortie</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-1 mr-2">Enregistrer</button>
            <button type="submit" class="btn btn-primary mt-1 mr-2">Publier la sortie</button>
            <a href="{{ path('app_liste_sortie') }}" class="btn btn-primary mt-1">Annuler</a>
        </div>
        {{ form_end(form) }}
        {% endblock %}

        {% block javascriptsBody %}
        {{ parent() }}
        <script src="{{ asset('js/listesLiees.js') }}"></script>

        <div class="row-cols-4">

        </div>
    </div>

{% endblock %}
