{% extends 'base.html.twig' %}

{% block title %}
   details de la sortie
{% endblock %}

{% block body %}
    <div class="container-fluid">

        <br>
        <div class="row text-center">
            <h1>Voici les Sortie</h1>
        </div>
        {#{% for message in app.flashes('succes') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}#}
        <br>
        <br>
        <table class="table table-hover table-dark text-center no-padding">
            <thead>
            <tr>
                <th scope="col">nombre</th>
                <th scope="col">nom</th>
                <th scope="col">debut</th>
                <th scope="col">duree</th>
                <th scope="col">date limite</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            {% set count = 0 %}
                {% set count = count+1 %}
                <tr>
                    <th scope="row">{{ count }}</th>
                    <td><a href=""></a>{{ sortie.nom }}</td>
                    <td>{{sortie.dateHeureDebut|date(" d-m-Y H:i ")}}</td>
                    <td>{{ sortie.duree |date(" H:i ")}}</td>
                    <td>{{sortie.dateLimiteInscription|date(" d-m-Y H:i ")}} </td>
                    <td>{{ sortie.description }}</td>
                </tr>

            </tbody>
        </table>
    </div>
{% endblock %}
