{% extends 'base.html.twig' %}

{% block title %}
    détail sortie
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row text-center">
            <h1 class="mt-4">detail de {{ sortie.nom }}</h1>
        </div>
        {% for message in app.flashes('Failed') %}
            <div class="alert alert-danger text-center">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('Success') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}
    <div class="row mx-5 my-3">
        <div class="offset-1 col-4">
            <div class="mt-2">
                <label class="labels">Nom de la sortie</label>
                <label class="form-control border border-primary">{{  sortie.nom }}</label>
            </div>
            <div class="mt-2">
                <label class="labels">Date et heure de la sortie</label>
                <label class="form-control border border-primary">{{ sortie.dateHeureDebut|date(" d/m/Y H:i") }}</label>
            </div>
            <div class="mt-2">
                <label class="labels">Date limite d'inscription</label>
                <label class="form-control border border-primary">{{  sortie.dateLimiteInscription|date(" d/m/Y H:i") }}</label>
            </div>
            <div class="mt-2">
                <label class="labels">Nombre de places</label>
                <label class="form-control border border-primary">{{ count }} / {{ sortie.inscriptionMax }}</label>
            </div>
            <div class="mt-2">
                <label class="labels">Durée</label>
                <label class="form-control border border-primary">{{ sortie.duree|date(" H:i ") }}</label>
            </div>
            <div class="mt-2">
                <label class="labels">Description et infos</label>
                <label class="form-control border border-primary">{{ sortie.description }}</label>
            </div>
        </div>

        <div class="offset-2 col-4">
            <div class="mt-2">
                <label class="labels">Ville organisatrice</label>
                <label class="form-control border border-primary">{{  sortie.lieu.ville.nom }}</label>
            </div>
            <div class="mt-2">
                <label class="labels">Lieu</label>
                <label class="form-control border border-primary">{{ sortie.lieu.nom }}</label>
            </div>
            <div class="mt-2">
                <label class="labels">Rue</label>
                <label class="form-control border border-primary">{{ sortie.lieu.rue }}</label>
            </div>
            <div class="mt-2">
                <label class="labels">Code postal</label>
                <label class="form-control border border-primary">{{ sortie.lieu.ville.codePostal }}</label>
            </div>
            <div class="mt-2">
                <label class="labels">Latitude</label>
                <label class="form-control border border-primary">{{ sortie.lieu.latitude }}</label>
            </div>
            <div class="mt-2">
                <label class="labels">Longitude</label>
                <label class="form-control border border-primary">{{ sortie.lieu.longitude }}</label>
            </div>
        </div>
    </div>
        {% if sortie.organisateur ==  app.user%}
            {% if sortie.etat.id == 1 %}
            <a class="btn btn-primary" href="{{ path('app_publier',{id:sortie.id}) }}">
                publier la sortie
            </a>


            {% elseif sortie.etat.id == 1 or sortie.etat.id == 2 or sortie.etat.id == 3 %}
            <a class="btn btn-primary d-flex justify-content-end" href="{{ path('app_annule_sortie',{id:sortie.id}) }}">
               annuler la sortie
            </a>
        {% endif %}

        {% endif %}

    <a class="btn btn-primary" href="{{ path('app_liste_sortie')}}">
        Retour à l'accueil
    </a>

        {% set count = 0 %}

<div class="row">
    <div class="col-4 mt-4">
        <h2>Liste des participant :</h2>
        <table class="table table-hover table-dark text-center">
            <thead>
            <tr>
                <th>nombre</th>
                <th>pseudo</th>
                <th>nom</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in sortie.participants %}
                {% if participant != null %}
                {% set count = count+1 %}
            <tr>
                <th scope="row">{{ count  }}</th>
                <td><a class="text-reset" href="{{ path('app_profil_id',{ id:participant.id})}}"> {{ participant.pseudo }} </a></td>
                <td>{{  participant.nom }}</td>
            </tr>
                {% endif%}
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
        {% if sortie.participants is empty %}
            {% if app.user in sortie.participants %}
                dedans man
                {% else %}
                    {% if app.user != sortie.organisateur and sortie.etat.id == 2%}
                        <a class="btn btn-primary" href="{{ path('app_inscription',{sortie:sortie.id, participants_id:app.user.id}) }}">
                            Participer
                        </a>
                    {% endif %}
                {% endif %}
            {% else %}
        {% for participant in sortie.participants%}
        {% if sortie.etat.id == 2 %}
            {% if app.user != participant and app.user != sortie.organisateur  %}
                <a class="btn btn-primary" href="{{ path('app_inscription',{sortie:sortie.id, participants_id:app.user.id}) }}">
                    Participer
                </a>
            {% endif %}
         {%elseif sortie.etat.id == 2 or sortie.etat.id == 3 and participant == app.user %}
            <a class="btn btn-primary" href="{{ path('app_desiste',{sortie:sortie.id, participants_id:app.user.id}) }}">
                se désister
            </a>
          {% endif %}
        {% endfor %}
        </div>
        {% endif %}
{% endblock %}
