{% extends 'base.html.twig' %}

{% block title %}
    détail sortie
{% endblock %}

{% block body %}
    <div class="container-fluid">

        <br>
        <div class="row text-center">
            <h1>detail de "{{ sortie.nom }}"</h1>
        </div>
        {% for message in app.flashes('Failed') %}
            <div class="alert alert-danger text-center">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('Success') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}
        <br>
        <br>
        <table class="table table-hover table-dark text-center no-padding">
            <thead>
            <tr>
                <th scope="col">nom</th>
                <th scope="col">debut</th>
                <th scope="col">duree</th>
                <th scope="col">Date limite</th>
                <th scope="col">Description</th>
            </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{sortie.dateHeureDebut|date(" d/m/Y H:i ")}}</td>
                    <td>{{ sortie.duree |date(" H:i ")}}</td>
                    <td>{{sortie.dateLimiteInscription|date(" d/m/Y H:i ")}} </td>
                    <td>{{ sortie.description|slice(0,80) }}...</td>
            </tbody>
        </table>

        <table class="table table-hover table-dark text-center no-padding">
            <thead>
            <tr>
                <th scope="col">places</th>
                <th scope="col">site</th>
                <th scope="col">Lieu</th>
                <th scope="col">Rue</th>
                <th scope="col">postal</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>

        <tbody>
                 <tr>
                    <td>{{ count }}/{{ sortie.inscriptionMax }}</td>
                    <td>{{ sortie.site }}</td>
                    <td>{{ sortie.lieu.nom }}</td>
                    <td>{{ sortie.lieu.rue }}</td>
                    <td>{{ sortie.lieu.ville.codePostal }}</td>
                    <td>{{ sortie.lieu.latitude }}</td>
                    <td>{{ sortie.lieu.longitude }}</td>
                </tr>
        </tbody>
        </table>
        {% if sortie.organisateur ==  app.user%}
            {% if sortie.etat.id != 2 %}
            <a class="btn btn-primary" href="{{ path('app_publier',{id:sortie.id}) }}">
                publier la sortie
            </a>

            {% endif %}
            <a class="btn btn-primary" href="{{ path('app_annule_sortie',{id:sortie.id}) }}">
               annuler la sortie
            </a>
        {% endif %}

        {% set count = 0 %}

<div class="row">
    <div class="col-4 mt-4">
        <h2>Liste des participant :</h2>
        <table class="table table-hover table-dark text-center">
            <thead>
            <tr>
                <th>nombre</th>
                <th>pseudo</th>
                <th>nom</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in sortie.participants %}
                {% if participant != null %}
                {% set count = count+1 %}
            <tr>
                <th scope="row">{{ count  }}</th>
                <td>{{ participant.pseudo }}</td>
                <td>{{  participant.nom }}</td>
            </tr>
                {% endif%}
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
        {% for participant in sortie.participants%}
        {% if sortie.etat.id == 2 %}
            {% if app.user != participant or app.user != sortie.organisateur  %}
                <a class="btn btn-primary" href="{{ path('app_inscription',{sortie:sortie.id, participants_id:app.user.id}) }}">
                    Participer
                </a>
            {% endif %}
         {%elseif sortie.etat.id == 2 or sortie.etat.id == 3 and participant == app.user %}
            <a class="btn btn-primary" href="{{ path('app_desiste',{sortie:sortie.id, participants_id:app.user.id}) }}">
                se désister
            </a>
          {% endif %}
        {% endfor %}
        </div>

{% endblock %}
