{% extends 'base.html.twig' %}

{% block title %}
    Liste des sorties
{% endblock %}

{% block body %}
    <div class="container-fluid mx-5 mt-4">
        <h3>Filtrer les sorties</h3>
        <form action="{{ path('app_liste_sortie') }}" method="get" class="row">
            <div class="col-sm-6">
                <input type="text" class="form-control mb-3" placeholder="Rechercher une sortie par mot-clé" name="recherche_terme" id="recherche_terme" value="{{ app.request.get('recherche_terme') }}">
                <select class="custom-select mb-3" name="recherche_site" aria-label="Example select with button addon">
                    <option selected>Choisir un site</option>
                    {% for site in sites %}
                        <option value="{{ site.id }}" {{ (site.id in app.request.get('recherche_site')) ? 'selected' : '' }}>{{ site.nom }}</option>
                    {% endfor %}
                </select>

                <select class="custom-select mb-3" name="recherche_etat" aria-label="Example select with button addon">
                    <option selected>Choisir le statut</option>
                    {% for etat in etats %}
                        <option value="{{ etat.id }}" {{ (etat.id in app.request.get('recherche_etat')) ? 'selected' : '' }}>{{ etat.libelle }}</option>
                    {% endfor %}
                </select>

                <div class="mb-3 row">
                    <div class="col-5">
                    <label for="debut">Date de début</label>
                    <input class="rounded form-control" type="date" id="debut" name="date_debut" value="{{ app.request.get('date_debut') }}">
                    </div>
                    <div class="col-6">
                    <label for="fin">Date de fin</label>
                    <input class="rounded form-control" type="date" id="fin" name="date_fin" value="{{ app.request.get('date_fin') }}">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="row d-flex flex-column ml-1 col-xs-12 d-inline">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="cb_organisateur" value="{{ app.user.id }}" {% if app.request.get('cb_organisateur') %} checked {% endif %}>
                        <label class="form-check-label">Sorties dont je suis l'organisateur.trice</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="cb_inscrit" value="{{ app.user.id }}" {% if app.request.get('cb_inscrit') %} checked {% endif %}>
                        <label class="form-check-label" >Sorties auxquelles je suis inscrit.e</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="cb_non_inscrit" value="{{ app.user.id }}" {% if app.request.get('cb_non_inscrit') %} checked {% endif %}>
                        <label class="form-check-label" >Sorties auxquelles je ne suis pas inscrit.e</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="cb_passee" {% if app.request.get('cb_passee') %} checked {% endif %}>
                        <label class="form-check-label" >Sorties passées</label>
                    </div>
                </div>

                <div class="row d-flex text-center">
                    <div class="row col-6">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary mr-1 mt-3 mb-2 py-3 px-2" id="btnRechercher" name="btnRechercher"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search justify-content-center" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg> <span> Rechercher</span></button>
                        </div>
                        <div class="col-6">
                            <a href="{{ path('app_liste_sortie') }}" class="btn btn-primary ml-1 mt-3 mb-2 py-3 px-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise justify-content-center" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                                </svg><span>Réinitialiser</span></a>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        </div>


        {# {% for message in app.flashes('succes') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %} #}
       <div class="table-wrapper-scroll-y my-custom-scrollbar mt-3 mx-5 rounded">
        <table class="table table-hover table-dark text-center no-padding table-striped table-lg">
            <thead style="position: sticky; top:0">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Début</th>
                <th scope="col">Date limite</th>
                <th scope="col">Etat</th>
                <th scope="col">Organisateur</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                {% if sortie != null %}
                <tr>
                    <td><a class="text-reset"
                           href="{{ path('app_detail_sortie', { id:sortie.id }) }}">{{ sortie.nom|capitalize }}</a></td>
                    <td>{{ sortie.dateHeureDebut|date(" d/m/Y H:i ") }}</td>
                    <td>{{ sortie.dateLimiteInscription|date(" d/m/Y H:i ") }} </td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td><a class="text-reset"
                           href="{{ path('app_profil_id', { id:sortie.organisateur.id }) }} ">{{ sortie.organisateur.pseudo }}
                    </td>

                </tr>
           {% endif %}
            {% else %}
            <tr>
            <td>aucune sortie</td>
            <td>aucune sortie</td>
            <td>aucune sortie</td>
            <td>aucune sortie</td>
            <td>aucune sortie</td>
            </tr>
            </tbody>
            {% endfor %}

        </table>{#btn btn-primary btn-lg mt-2 mx-5 rounded#}

       </div>
    <div class="row">

        <div class="col-3">
            <div class="text-center">
                <a href="{{ path('app_create') }}" class="btn btn-primary mr-1 mt-3 mb-2 py-3 px-2">Créer une sortie</a>
            </div>
        </div>
        <div class="col-9">

        </div>
    </div>

{% endblock %}

