{% extends 'base.html.twig' %}

{% block title %}
    Liste des sorties
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col2">
                <form id="filter">
                    {% for sites in site %}
                    <input type ="checkbox" name="sites[]" id="site{{ sites.id }}" value="{{ sites.id }}">
                           <label for="{{ sites.id }}">
                               {{ sites.nom }}
                           </label>
                        {% endfor %}
                </form>
            </div>
        </div>


        <br>
        <div class="row text-center">
            <h1>Liste des sorties</h1>
        </div>
        {# {% for message in app.flashes('succes') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %} #}
        <br>
        <br>
        <table class="table table-hover table-dark text-center no-padding">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Début</th>
                <th scope="col">Durée</th>
                <th scope="col">Date limite</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}

                <tr>
                    <td><a class="text-reset"
                           href="{{ path('app_detail_sortie', { id:sortie.id }) }}">{{ sortie.nom|capitalize }}</a></td>
                    <td>{{ sortie.dateHeureDebut|date(" d/m/Y H:i ") }}</td>
                    <td>{{ sortie.duree |date(" H:i ") }}</td>
                    <td>{{ sortie.dateLimiteInscription|date(" d/m/Y H:i ") }} </td>
                    <td><a class="text-reset"
                           href="{{ path('app_profil_id', { id:sortie.organisateur.id }) }} ">{{ sortie.organisateur.pseudo }}
                    </td>
                    <td>{{ sortie.description|slice(0,80) }}...</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascriptsBody %}
    <script src="{{ asset('js/filtres.js') }}"></script>
{% endblock %}
