{% extends 'base.html.twig' %}

{% block title %}
    details de la sortie
{% endblock %}

{% block body %}
    <div class="container">

        <br>
        <div class="row text-center">
            <h1>Détail de la sortie</h1>
        </div>
        {# {% for message in app.flashes('succes') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %} #}
        <br>
        <br>
        <div class="row">
            <div class="col-1">

            </div>
        </div>
        <div class="row " >
            <div class="col-10">



                <table class="table table-hover table-dark text-center no-padding">
                    <thead>
                    <tr>
                        <th scope="col">nom</th>
                        <th scope="col">debut</th>
                        <th scope="col">duree</th>
                        <th scope="col">Date limite</th>
                        <th scope="col">Description</th>
                        <th scope="col">places</th>
                        <th scope="col">site</th>
                        <th scope="col">Lieu</th>
                        <th scope="col">Rue</th>
                        <th scope="col">postal</th>
                        <th scope="col">Latitude</th>
                        <th scope="col">Longitude</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% set count = 0 %}
                    {% set count = count+1 %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date(" d/m/Y H:i ") }}</td>
                        <td>{{ sortie.duree |date(" H:i ") }}</td>
                        <td>{{ sortie.dateLimiteInscription|date(" d/m/Y H:i ") }} </td>
                        <td>{{ sortie.description }}</td>
                        <td>{{ sortie.inscriptionMax }}</td>
                        <td>{{ sortie.site }}</td>
                        <td>{{ sortie.lieu.nom }}</td>
                        <td>{{ sortie.lieu.rue }}</td>
                        <td>{{ sortie.lieu.ville.codePostal }}</td>
                        <td>{{ sortie.lieu.latitude }}</td>
                        <td>{{ sortie.lieu.longitude }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <h2>Participants :</h2>

        <div class="row col-3">
            <table class="table table-hover table-dark ">
                <thead>
                <tr>
                    <th scope="col">nbr</th>
                    <th scope="col">nom</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">{{ count }}</th>

                    <td>{{ sortie.participants.0 }}</td>


                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-1">

            </div>
        </div>

        <a class="btn btn-primary" href="{{ path('app_inscription',{sortie:sortie.id, participants_id:app.user.id}) }}">
            Participer
        </a>
    </div>
{% endblock %}
