{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}



{% block body %}
    <form action="{{ url('app_profil_supprimer') }}" method="post">
        <input type="hidden" id="delete_profil_supp" name="token" value="{{ csrf_token('delete-item') }}"/>
    </form>
    <div class="container-fluid p-3 mx-4">
        <div class="row">
            <h1 class="text-center my-3">Gérer les villes</h1>
        </div>

        <div class="row">

            <div class="col-8 offset-2 ">
                <h3>Filtrer les villes</h3>
                <div class="row">

                    <form action="{{ path('app_ville_liste') }}" method="get" class="row col-9">
                        <div class="col-8">
                            <label for="recherche">Le nom contient : </label>
                            <input name="recherche" type="text" class="form-control mb-3 border border-primary"
                                   placeholder="Rechercher une ville par mot-clé" name="recherche_terme"
                                   id="recherche_terme" value="{{ app.request.get('recherche_terme') }}">
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary mr-1 mt-3 mb-2 py-lg-3 px-5" id="btnRechercher"
                                    name="btnRechercher">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-search justify-content-center" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                                <span> Rechercher</span></button>
                        </div>
                    </form>
                    <div class="col-3">
                        <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-success mr-1 mt-3 mb-2 py-lg-3 px-5 w-100">
                            <svg data-toggle="modal" data-target="#exampleModal" xmlns="http://www.w3.org/2000/svg"
                                 width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
                                 viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                    </div>

                </div>
            </div>

        </div>
        <div class="table-responsive col-8 offset-2">
            <div class="table-wrapper">
                <div class="table-wrapper-scroll-y my-custom-scrollbar2 mt-3 mx-5 rounded">
                    <table class="table table-hover table-dark text-center no-padding table-striped" id="maTable">
                        <thead>
                        <tr>
                            <th>Ville</th>
                            {% if(is_granted('ROLE_ADMIN')) %}
                                <th>Actions</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for ville in villes %}
                            <tr>
                                <td>{{ ville.nom|upper }}</td>

                                {% if(is_granted('ROLE_ADMIN')) %}
                                    <td>
                                        <svg data-id="{{ ville.id }}" data-nom="{{ ville.nom }}"
                                             xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd"
                                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </td>
                                {% endif %}


                            </tr>
                        {% endfor %}

                        <!-- Modal créer -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Créer une nouvelle ville</h5>
                                    </div>
                                    <div class="modal-body">
                                        <label style="color:black" class="mb-2">Nom de la ville</label>
                                        {{ form_start(formVille) }}
                                        {{ form_widget(formVille.nom, { 'class':'ClearOnStartup'}) }}
                                    </div>
                                    <div class="modal-body">
                                        <label style="color:black" class="mb-2">Code postal</label>
                                        {{ form_start(formVille) }}
                                        {{ form_widget(formVille.codePostal, { 'class':'ClearOnStartup'}) }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler
                                        </button>
                                        {{ form_widget(formVille.ajouter, { 'class':'btn btn success ClearOnStartup'}) }}
                                        {{ form_end(formVille) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block javascriptsBody %}
    <script>
        $(function () {
            $(".ClearOnStartup").val("");
        });


        $('document').ready(function () {
            $(".bi-trash").click(function () {
                var lieu_id = $(this).attr('data-id');
                var lieu_nom = $(this).attr('data-nom');
                var csrf_token = $("#delete_profil_supp").val();

                if (confirm("Voulez vous supprimer le lieu : " + lieu_nom)) {
                    $.post("/lieux/supprimer", {id: lieu_id, token: csrf_token}, function (data) {
                        if (data == true) {
                            location.reload(true);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}